body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex; /* Enable flexbox for the body layout*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #05A4C7;
}

/* Container for the flex items*/
.flex-container {
    display: flex;
    width: 80%;
    height:300px;
    border: 2px solid red;
    background-color: aliceblue;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 1s ease;
}

.flex-item{
    width: 50px;
    height: 50px;
    background-color: brown;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba (0,0,0,0.2);
}

.flex-item:nth-child(even) {
    background-color: darkblue;
}

.controls button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    background-color: yellow;
    color: black;
    border-radius: 5px;  
    transition: all 1s ease;
    overflow: hidden;  
}

.controls button:active{
    box-shadow: 0 2px #13213C;
    transform: translateY(2px);
}

.controls button:hover {
    background-color: aquamarine;
}

.controls{
    display: flex;
    justify-content: center;
}