body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f9;
    color: #63666A; /*Dark Gray text color*/
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#header {
    background-color: aqua;
    color: navy;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

main {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

section {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 1em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

h2 {
    color:navy;
    margin-bottom: .5em;
}

h3 {
    color: gray;
    margin-bottom: 0.5em;
}

.example {
    color: #CC5500;
}

.highlight {
    background-color: #FFF3CD;
    padding: 0.5em;
    border-radius: 4px;
}

#unique {
    text-align: center;
    font-weight: 500;
    color: green;
}

h1, h2, h3 {
    color: teal;
    /* border: solid 0.1em black;
    padding: .5em */
}

.box-model {
    margin: 10px;
    padding:20px;
    border: 1px solid lightgrey;
    width: 300px;
    height: 150px;
    background-color: #8CB8FF;
    border-radius: 8px;
}

.ancestor p {
color: #007BFF;
}

.parent > p {
    color: green;
}

h1 + p {
    color:  yellow;
}

h1 ~ p{
    color: purple;
}

a[href] {
    color: maroon;
    text-decoration: none;
}

a[href="https"] {
    font-weight: 900;
}

.pseudo-element::before {
    content: "Read this Note: ";
    font-weight: bold;
    color: #CC5500;
}

.pseudo-class:hover{
    color:#007BFF;
    text-decoration: underline;
}

.hover:hover {
    color: aqua;
}

.internal-style {
    color: red;
}

.external-style {
    color:aquamarine;
    background-color: black;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.5em;
}
